data/raw/Mendeley_data/
data/raw/temp/*.parquet
data/processed/*.parquet
airflow/logs/*
airflow/.env
.google/credentials/gcp.json
airflow/dags/__pycache__/
source/
.venv/
src.
terraform/keys/*.json
terraform/variables.tf
terraform/*.tfstate
terraform/*.tfstate.*
terraform/**.terraform
terraform/**.terraform.lock.*

